.programs {
  padding: 56px 0 48px;

  @include tablet {
    padding: 50px 0 48px 44px;
  }

  @include desktop {
    padding: 62px 100px 58px;
  }
}

.programs__container {
  @include container;

  display: flex;
  flex-direction: column;

  @include tablet {
    width: 723px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px 0;
  }

  @include desktop {
    width: 1240px;
    gap: 39px 0;
  }
}

.programs__title {
  @include h2;

  margin-bottom: 34px;

  @include tablet {
    margin-bottom: 40px;
    padding: 3px 0;
  }
}

.programs__list {
  @include list;

  display: flex;

  @include desktop {
    margin-top: 42px;
  }
}

.programs__link {
  @include buttons;
  @include button-primary;

  padding: 16px 69px 16px 31px;
  min-width: 205px;
  max-width: 205px;
  display: inline-block;
  text-decoration: none;
  grid-column: 1;

  @include tablet {
    margin: 0 45px 0 auto;
    padding: 20px 70px 20px 30px;
    position: absolute;
    min-width: 234px;
    max-width: 234px;
    top: 3px;
    right: 0;
    transform: translateY(-3px);
    align-content: normal;
    order: initial;

    &::before {
      right: 23px;
    }
  }

  @include desktop {
    margin: 0 0 0 auto;

    &::before {
      right: 23px;
    }
  }
}
